@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
padding-top: 15%;
padding-bottom: 15px;
background-color: #B31B1B;
}

p .courseResult {
	color:white;
}

.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {}
.global-search * {
display:inline-block;
}
}
.dropdown-bar {
width: 40% !important;
max-width: 40% !important;
}
#search-inputs-flex-container {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: baseline;
}
#class-search {
float: left;
}

#tag-search {
float: left;
}
#search-button {
border: 1px solid #000;
}

#results {
}

.course-result-div {
margin: 5px auto;
background-color:#f7f7f7;
max-width:75%;
width:50%;
border-radius: 25px;
padding: 10px;
}

input {  }
.topcorner{
position:absolute;
top:2%;
right:2%;
}
.btn{
background-color: #4285F4;
border: none
}
.step-links a{
color: #4285F4;
}
.search-results{
	padding:10px;
}