body {
padding-top: 15%;
padding-bottom: 15px;
background-color: #B31B1B;
}

p .courseResult {
	color:white;
}

.dropdown-bar {
width: 400px !important;
max-width: 600px !important;
margin-left: 10px;
margin-right: 10px;
flex-grow: 0;
}

#search-inputs-flex-container {
width: 800px;
margin: 0 auto;
display:flex;
}



#search-button {
border: 1px solid #000;
flex-grow: 0;
flex: 0;
max-height: 25px;
}

.course-result-div {
margin: 5px auto;
background-color:#f7f7f7;
max-width:75%;
width:50%;
display: flex;
border-radius: 25px;
padding: 10px;
}

.course-result-information-div {
	flex: 0 0 75%;
	padding: 5px;
}

.course-result-metadata-div {
	flex: 1;
	padding: 5px;
}

.topcorner{
position:absolute;
top:2%;
right:2%;
}
.btn{
background-color: #4285F4;
border: none
}
.step-links a{
color: #4285F4;
}
.search-results{
	padding:10px;
}