body {
padding-top: 15%;
padding-bottom: 15px;
background: url("background.jpg") no-repeat center center fixed;
background-size: cover;
}

p .courseResult {
	color:white;
}

.dropdown-bar {
width: 400px !important;
max-width: 600px !important;
margin-left: 10px;
margin-right: 10px;
}

#shit {
	text-align: center;
}

#search-inputs-flex-container {
display: inline-flex;
margin: 0 auto;
}

#search-button {
border: 1px solid #000;
flex-grow: 0;
flex: 0;
max-height: 25px;
}

.course-result-div {
margin: 5px auto;
background-color:#f7f7f7;
max-width:75%;
width:50%;
display: flex;
border-radius: 25px;
padding: 10px;
}

.course-result-information-div {
padding: 5px;
width: 100%;
display: flex;
border: 2px solid red;
}

.course-result-metadata-div {
	flex: 1;
	padding: 5px;
}

.topcorner{
position:absolute;
top:2%;
right:2%;
}
.btn{
background-color: #4285F4;
border: none
}
.step-links a{
color: #4285F4;
}
.search-results{
	padding:10px;
}

a .morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;
}

#advanced-search {
	margin-left: 12px;
	display: table;
	white-space: nowrap;
	height: 25px;
	padding-bottom: 2px;
	flex-grow: 0;
	flex: 0;
}

#advanced-search a{
	color: white;
	cursor: pointer;
	display: table-cell;
	vertical-align: bottom;
}

#advanced-search-options {
	margin: 0 auto;
	width: 500px;
	/* background-color: lightblue; */
	display: none;
}

#slider-container {
	/* background-color: orange; */
	margin-top: 20px;
	width: 200px;
	height: 60px;
}

#slider {
	margin-top: 7px;
	width: 200px;
}

#slider-choices {
	height: 10px;
}

#slider-choices-1 {
	float: left;
}
#slider-choices-2 {
	float: right;
}

.icon {
	width: 50px;
	height: 50px;
	flex: 0 1 50%;
	max-width: 30%;
	border: 1px solid yellow;
}


.right-container {
	flex: 0 1 100%;
	display: flex;
	flex-direction: column;
	max-width: 100%;
	flex-wrap: wrap;
	align-items: flex-start;
}

.course-text {
	max-height: 20%;
	min-height: 10%;
	max-width: 100%;
	background: #0BDA51;
	border: 1px solid red;
	padding: .5em;
	overflow: hidden;
}

.course_description {
	flex: 0 0 100%;
	min-height: 20%;
	min-width: 100%;
	max-width: 100%;
	background: #0BDA51;
	border: 1px solid red;
	padding: .5em;
	overflow: hidden;
}

.more-toggle {
	display: None;
}