body {
padding-top: 15%;
padding-bottom: 15px;
background: url("background.jpg") no-repeat center center fixed;
background-size: cover;
font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
}

p .courseResult {
	color:white;
}

::placeholder {
	color: rgb(70, 70, 70);
}

.dropdown-bar {
width: 400px !important;
max-width: 600px !important;
margin-left: 10px;
margin-right: 10px;
}

#shit {
	text-align: center;
}

#search-inputs-flex-container {
display: inline-flex;
margin: 0 auto;
}

#search-button {
border: 1px solid #000;
flex-grow: 0;
flex: 0;
max-height: 25px;
font-weight: 700;
font-size: 12px;
}

.course-result-div {
margin: 5px auto;
background-color:#f7f7f7;
max-width:85%;
width:70%;
display: flex;
border-radius: 25px;
padding: 10px;
margin-bottom: 20px;
}

.course-result-information-div {
padding: 5px;
width: 75%;
display: flex;
/* border: 2px solid red; */
}

.course-result-metadata-div {
width: 25%;
padding: 5px;
overflow-wrap: break-word;
word-wrap: break-word;
}

.topcorner{
position:absolute;
top:2%;
right:2%;
}
.btn{
background-color: #4285F4;
border: none
}
.step-links a{
color: #4285F4;
}
.search-results{
	padding:10px;
}

.moreDesclink {
	text-decoration:none !important;
	color: #007bff !important;
	outline: none;
}

a .moreDesclink:visited {
	text-decoration: none;
}

.moreDesccontent span {
	display: none;
}


.moreMetalink {
	text-decoration:none !important;
	color: #007bff !important;
	outline: none;
	font-size: 14px !important;
}
a .moreMetalink:visited {
	text-decoration: none;
}
.moreMetacontent span {
	display: none;
}


#advanced-search {
	margin-left: 12px;
	display: table;
	white-space: nowrap;
	height: 25px;
	padding-bottom: 2px;
	flex-grow: 0;
	flex: 0;

}

#advanced-search a{
	color: #000;
	cursor: pointer;
	display: table-cell;
	vertical-align: bottom;
	font-size: 9px;
	font-weight: 700;
}



#advanced-search-options {
	margin: 0 auto;
	width: 500px;
	/* background-color: lightblue; */
	display: none;
}

#slider-container {
	/* background-color: orange; */
	margin-top: 20px;
	width: 200px;
	height: 60px;
}

#slider {
	margin-top: 7px;
	width: 200px;
}

#slider-choices {
	height: 10px;
}

#slider-choices-1 {
	float: left;
}
#slider-choices-2 {
	float: right;
}

.icon {
	height: 50px;
	flex: 0 1 14%;
	max-width: 20%;
	margin-right: 10px;
	/* border: 1px solid yellow; */
}

.right-container {
	flex: 0 1 100%;
	display: flex;
	flex-direction: column;
	max-width: 100%;
	flex-wrap: wrap;
	align-items: flex-start;
}

.course-text {
	max-height: 20%;
	max-width: 100%;
	/* background: #0BDA51; */
	/* border: 1px solid red; */
	padding: .5em;
	overflow: hidden;
}
.course-text > a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 500px;
	color:#000;       
    transition: color 0.3s linear; /* vendorless fallback */
    -o-transition: color 0.3s linear; /* opera */
    -ms-transition: color 0.3s linear; /* IE 10 */
    -moz-transition: color 0.3s linear; /* Firefox */
    -webkit-transition: color 0.3s linear; /*safari and chrome */
}
.course-text > a:hover {
	color: rgb(90, 90, 90);
}

.course-description {
	padding: .5em !important;
	overflow: hidden;
	font-size: 14px;
}

#results {
	margin-top: 40px;
}

.meta-text {
	color: #000;
	font-size: 9px;
}

.title {
	font-weight: 700;
}

.other-text {
	color: #000;
	font-size: 14px;
}