<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link href="./static/css/custom.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <div class="topcorner">
            <p>Student Names: ({{ netid }})</p>
        </div>
        <h1 style="font-size: 55px; font-family:Futura; color: #222222; text-align:center">CourseFinder</h1>
        <!--<form class="form-inline global-search" method="get" id="classform">
            
            
            <br><br>
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>-->

        {% extends "main-typeahead.html" %}
        {% block content %}
        <link rel="stylesheet" href="/static/main.css">
        <script src="https://d3js.org/d3.v3.min.js"></script>

        <div class = "global-search">
            <div id = "search-inputs-flex-container">
                <div class="dropdown-bar">
                    <input type="text" id="class-search" data-role="tagsinput" placeholder="Enter Class You Liked"/>
                </div>
                <div class="dropdown-bar">
                    <input type="text" id="tag-search" data-role="tagsinput" placeholder="Enter Topics of Interest"/>
                </div>
                
                <!--<div onclick="search()">
                    <button type="submit"> Go! </button>
                </div>-->
                <button id="search-button" onclick="search()" type="submit">Search</button>
            </div>
        </div>
        <div id = "results">
        </div>

        <script>
        var classes = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('class_name'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          prefetch: {
            url: 'static/classes_typeahead.json',
            filter: function(list) {
            return list.classes;
            }
          }
        });

        classes.clearPrefetchCache();
        classes.initialize();

        var elt = $('#class-search');
        elt.tagsinput({
          itemValue: 'class_name',
          itemText: function(c){
            return c.class_name.slice(0, c.class_name.indexOf(':'));
            },
          typeaheadjs: {
            name: 'classes',
            limit: 10,
            displayKey: function(c){
              return c.class_name;
            },
            source: classes.ttAdapter()
          }
        });

        var tags = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('tag'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          prefetch: {
            url: 'static/tags_typeahead.json',
            filter: function(list) {
            return list.tags;
            }
          }
        });

        tags.clearPrefetchCache();
        tags.initialize();

        var tag_elt = $('#tag-search');
        tag_elt.tagsinput({
          itemValue: 'tag',
          itemText: function(t){
            return t.tag;
            },
          typeaheadjs: {
            name: 'tags',
            limit: 10,
            displayKey: function(t){
              return t.tag;
            },
            source: tags.ttAdapter()
          }
        });

        // Creates a div to hold everything to do with a recommenation
        function createRecommendationComponent(recommendation) {
          console.log(recommendation);
          let course = recommendation.course;
          let description = recommendation.description;
          let title = recommendation.title;
          let professor = recommendation.professor;
          let rating = recommendation.rating;
          let isReplacementRating = JSON.parse(recommendation.replacementRating);
          let offered = recommendation.offered;
          let length = recommendation.length;


          // Main div
          course_result = document.createElement("div");
          course_result.className = "course-result-div";
          

          // First child div
          course_result_information_div = document.createElement("div");
          course_result_information_div.className = "course-result-information-div";

          course_txt = document.createElement("p");
          course_txt.innerHTML = course

          description_txt = document.createElement("p");
          if (description == null || description.length == 0) {
              description = "No course description available."
          }
          description_txt.innerHTML = description

          // Add course title "CS1110 - Introduction to Python" and course description 
          course_result_information_div.appendChild(course_txt);
          course_result_information_div.appendChild(description_txt);


          // Second child div
          course_result_metadata_div = document.createElement("div");
          course_result_metadata_div.className = "course-result-metadata-div";

          // Professor
          professor_txt = document.createElement("p");
          if (professor == null || professor.length == 0) {
            professor = "No professor information available."
          }
          console.log("PROFESSOR");
          console.log(professor);
          professor_txt.innerHTML = 'Professor' + '<br>' + professor;
          course_result_metadata_div.appendChild(professor_txt);

          // Rating
          course_rating_txt = document.createElement("p");
          if (isReplacementRating) [
            rating = 0
          ]
          course_rating_txt.innerHTML = 'Course Rating: ' + rating + '/5'
          course_result_metadata_div.appendChild(course_rating_txt);

          // offered
          course_offered_txt = document.createElement("p");
          course_offered_txt.innerHTML = 'Course offered in: ' + offered;
          course_result_metadata_div.appendChild(course_offered_txt);

          // length
          course_length_txt = document.createElement("p");
          course_length_txt.innerHTML = 'Course is: ' + length + ' weeks';
          course_result_metadata_div.appendChild(course_length_txt);

          // Add two child divs to parent div
          course_result.appendChild(course_result_information_div);
          course_result.appendChild(course_result_metadata_div);
          return course_result;
        }

        function search(){
          //var class_results = document.getElementsByTagName("input")[0].value;
          var paras = document.getElementsByClassName('course-result-div');
          while (paras && paras[0]) {
            paras[0].parentNode.removeChild(paras[0]);
          }

          var class_results = document.getElementById("class-search").value;
          var tag_results = document.getElementById("tag-search").value;
          console.log(class_results)
          $.ajax({
                    url: '/search',
                    data: JSON.stringify({'class_name':class_results, 'tag_name':tag_results}),
                    contentType: "application/json",
                    type: 'POST',
                    success: function(response) {
                      // success
                      value = JSON.parse(response)
                      //console.log(value)
                      results = []
                      /*for (i in value.recommendations) {
                        course_txt = document.createElement("p");
                        course_txt.innerHTML = i.course
                        description_txt = document.createElement("p");
                        description_txt.innerHTML = i.description
                        results.push(course_txt)
                        results.push(description_txt)
                      }*/

                      value.recommendations.forEach(function(recommendation) {
                        results.push(createRecommendationComponent(recommendation))
                        //results.push(course_txt)
                        //results.push(description_txt)
                      });
                        
                      $("#results").append(results)

                    },
                    error: function(error) {
                      console.log("ERROR");
                    }
                });
        }
        </script>
        <!--<div class="global-search">
        {% if data %}
            <h3>{{ output_message }}</h1>
            <br>
            <h3>Results</h3>
        {% endif %}
        </div>-->
        <!--<div class="search-results">
            {% for k,v in data %}  
                <br>
                <p>{{k}}</p>
                <p>{{v}}</p>
            {% endfor %}
        </div>-->
        {% endblock %}
    </body>

</html>